USE [master]
GO
/****** Object:  Database [FarmBookingDB]    Script Date: 4/28/2025 3:33:28 PM ******/
CREATE DATABASE [FarmBookingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmBookingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FarmBookingDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FarmBookingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FarmBookingDB_log.ldf' , SIZE = 4672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmBookingDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 4/28/2025 3:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CabinId] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CheckInDate] [datetime] NOT NULL,
	[CheckOutDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cabins]    Script Date: 4/28/2025 3:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[PricePerNight] [decimal](10, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_Cabins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/28/2025 3:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/28/2025 3:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [CabinId], [CustomerName], [PhoneNumber], [CheckInDate], [CheckOutDate], [Status]) VALUES (1, 1, N'Ahmed AlAli', N'0123456789', CAST(N'2025-04-01T00:00:00.000' AS DateTime), CAST(N'2025-04-05T00:00:00.000' AS DateTime), N'Pending')
INSERT [dbo].[Bookings] ([Id], [CabinId], [CustomerName], [PhoneNumber], [CheckInDate], [CheckOutDate], [Status]) VALUES (2, 2, N'Fatima Zuhair', N'0987654321', CAST(N'2025-04-02T00:00:00.000' AS DateTime), CAST(N'2025-04-07T00:00:00.000' AS DateTime), N'Pending')
INSERT [dbo].[Bookings] ([Id], [CabinId], [CustomerName], [PhoneNumber], [CheckInDate], [CheckOutDate], [Status]) VALUES (3, 3, N'Muhammad Saeed', N'0112233445', CAST(N'2025-04-03T00:00:00.000' AS DateTime), CAST(N'2025-04-06T00:00:00.000' AS DateTime), N'Confirmed')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cabins] ON 

INSERT [dbo].[Cabins] ([Id], [Name], [Description], [ImageUrl], [PricePerNight], [Capacity], [IsAvailable]) VALUES (1, N'Farm hut', N'A cozy cabin located in the heart of the farm. Enjoy a peaceful countryside vibe surrounded by sheep and chickens. Great for relaxing
', N'/images/cabin1a.jpg', CAST(120.00 AS Decimal(10, 2)), 3, 1)
INSERT [dbo].[Cabins] ([Id], [Name], [Description], [ImageUrl], [PricePerNight], [Capacity], [IsAvailable]) VALUES (2, N'Barn hut', N'A rustic hut near the barn where horses and cows live. Ideal for guests who enjoy rural life and love staying close to farm animals in a natural setting.

', N'/images/cabin2a.jpg', CAST(130.00 AS Decimal(10, 2)), 5, 1)
INSERT [dbo].[Cabins] ([Id], [Name], [Description], [ImageUrl], [PricePerNight], [Capacity], [IsAvailable]) VALUES (3, N'Farmers hut', N'A traditional-style cabin surrounded by fruit trees and vegetable gardens. Perfect for nature lovers seeking a calm and authentic farm experience.
', N'/images/cabinf.jpg', CAST(110.00 AS Decimal(10, 2)), 3, 1)
SET IDENTITY_INSERT [dbo].[Cabins] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [ImageUrl], [Price]) VALUES (3, N'Organic olive oil', N'Extra virgin olive oil from olives grown on our farm. 100% organic, cold-pressed.

', N'
/images/oil.jpg', CAST(7.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [Name], [Description], [ImageUrl], [Price]) VALUES (4, N'Organic raspberry jam', N'Organic jam made from fresh farm raspberries. No chemicals, just sweet.

', N'
/images/jam.jpg', CAST(6.98 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([Id], [Name], [Description], [ImageUrl], [Price]) VALUES (5, N'Orange juice', N'Fresh juice made from sun-ripened organic oranges. Pure, pesticide-free.

', N'/images/or.jpg', CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [Role]) VALUES (1, N'admin', N'0000', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users]    Script Date: 4/28/2025 3:33:28 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Cabins] ADD  CONSTRAINT [DF_Cabins_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Cabins] FOREIGN KEY([CabinId])
REFERENCES [dbo].[Cabins] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Cabins]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_CheckOutDate_CheckInDate] CHECK  (([CheckOutDate]>[CheckInDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_CheckOutDate_CheckInDate]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Status_Values] CHECK  (([Status]='Cancelled' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Status_Values]
GO
ALTER TABLE [dbo].[Cabins]  WITH CHECK ADD  CONSTRAINT [CHK_PricePerNight] CHECK  (([PricePerNight]>=(0)))
GO
ALTER TABLE [dbo].[Cabins] CHECK CONSTRAINT [CHK_PricePerNight]
GO
ALTER TABLE [dbo].[Cabins]  WITH CHECK ADD  CONSTRAINT [CK_Capacity] CHECK  (([Capacity]>(0)))
GO
ALTER TABLE [dbo].[Cabins] CHECK CONSTRAINT [CK_Capacity]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Price]
GO
USE [master]
GO
